@import "/static/css/libs/normalize.css"
@import "/static/css/libs/menu/icons.css"
@import "/static/css/libs/menu/menu.css"
@import url("http://fonts.googleapis.com/css?family=Poller+One|PT+Serif+Caption")
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

movimiento = all ease-in 0.3s
img.typekit-badge
	display none !important


nav.bt-menu
	animation mov_de_izq 2s
	.bt-menu-trigger
		span
			background-color #34495E
		span:before
			transform: translateY(-250%)
			background-color #34495E
		span:after
			transform: translateY(250%)
			background-color #34495E
	.bt-menu-trigger:hover
		span
			background-color #C0392B
		span:before
			background-color #C0392B
		span:after
			background-color #C0392B

nav.bt-menu-open
	border-width 0 0 50px 180px !important

	.bt-menu-trigger 

		span
			transform: translateY(0px) rotate(-90deg) !important
			background-color transparent

		span:before
			transform: translateY(0) rotate(-45deg) !important
			background-color #3498DB !important
		span:after
			transform: translateY(0) rotate(45deg) !important
			background-color #3498DB !important

	.bt-menu-trigger:hover
		span:before, span:after
			background-color #C0392B !important
		span
			background-color transparent !important

.container
	overflow hidden
	height 100%
	@media screen and (max-width:500px)
		padding 10%;

h1, h2
	font-family: 'Poller One', cursive
	margin 0 auto
	text-align center
	text-transform: uppercase
	@media screen and (max-width:500px)
		font-size 2em !important;
h1
	font-size 4em
	color #34495E
	padding: 70px 0
	animation mov_izq_der 2s

header
	@media screen and (max-width:1280px)
		position absolute

	@media screen and (max-width:800px)
		position relative
		width 100% !important

		h1
			text-align center !important
			color #3498db !important



section
	animation mov_down_top 2s
	article
		text-align center
		width 80%
		margin 0 auto
		font-family: 'PT Serif Caption', serif



#home
	header
		@media screen and (max-width:1280px)
			position relative 
		@media screen and (max-width:800px)
			position relative  

	section
		article
			p
				font-size: 1.5em
				margin: 5px 0
				text-align: center
				text-transform: uppercase


#about
	header
		display inline-block
		vertical-align top
		width 29%

		h1
			font-size: 300%
			padding: 70px 0
			text-align: left


	section
		display inline-block
		vertical-align top
		width 70%
		@media screen and (max-width:1280px)
			width 100%

		article
			width 100%

			div.icon-male
				display inline-block
				vertical-align top
				margin-right 10%

				@media screen and (max-width:1280px)
					display: inline-block
					float: right
					text-align: right
					vertical-align: top
					width: auto

				@media screen and (max-width:800px)
					float: none
				
				i
					color: #2ECC71
					font-size: 30em
					transition movimiento
					@media screen and (max-width:800px)
						font-size 19em
						color #f39c12


			#about_me
				display: inline-block
				font-size: 1.4em
				line-height: 45px
				text-align: left
				vertical-align: top
				width: 60%
				transition movimiento

				@media screen and (max-width:1280px)
					width 100%


				@media screen and (max-width:500px)
					font-size: 1em
					line-height 35px
					width 100%

				div, span
					display inline	

				span
					font-weight bold


@keyframes mov_de_izq
	from
		transform: translateX(1600px);
	to
		transform: translateX(0px);
@keyframes mov_izq_der
	from
		transform: translateX(-500px);
	to
		transform: translateX(0px);
@keyframes mov_down_top
	from
		transform: translate(4000px,4000px);
	to
		transform: translate(0px,0px);