{% extends "base.html" %}
{% load staticfiles %}
{% load set_var %}


{% block title %}
	{% for post in post_about %}
		{% autoescape off %}{{ post.post_title }}{% endautoescape %}
	{% endfor %}
{% endblock %}

{% block cabecera %}


{% endblock %}

{% block content %}


					
	{% for post in post_about %}
		<div id="about">
			<header class="page-header">
				<h1>{% autoescape off %}{{ post.post_title }}{% endautoescape %}</h1>

			</header>
			<section>
				<article>
					<div class="icon-male">
						<i class="fa fa-male"></i>
					</div>
					<!--<figure>
						<img src="{% get_mi_picture post.id %}"  class="img-circle" >
					</figure>-->
					<div id="about_me">
						<div itemscope="" itemtype="http://data-vocabulary.org/Person">
							{% autoescape off %}{{ post.post_content }}{% endautoescape %}
						</div>
					</div>
					
				</article>
			</section>
		</div>
	{% endfor %}

{% endblock %}