{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href={% static "css/libs/normalize.css" %}>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	{% block cabecera %}{% endblock %}
</head>
<body>
	 {% include "menu.html" %} 
{% block content %}
{% endblock %}


</body>
</html>