{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	{% for post in post_home %}
		{% autoescape off %}{{ post.post_title }}{% endautoescape %}
	{% endfor %}
{% endblock %}

{% block cabecera %}


{% endblock %}

{% block content %}


					
	{% for post in post_home %}
	<div id="home">
		<header class="page-header">
			<h1>{% autoescape off %}{{ post.post_title }}{% endautoescape %}</h1>
		</header>
		<section>
			<article>
				{% autoescape off %}{{ post.post_content }}{% endautoescape %}
			</article>
		</section>
	</div>
	{% endfor %}

{% endblock %}